pymupdf
pillow
nltk
transformers
pytesseract
langchain
langchain-community
langchain_experimental
langchain_openai
unstructured
unstructured-inference
unstructured_pytesseract
unstructured[all] 
python-dotenv
faiss-cpu
redis
pi_heif
fastapi
uvicorn
onnxruntime 
onnx

